{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    // `.jsx` extension cannot be used with React Native
    // https://github.com/airbnb/javascript/issues/982
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": ["off"],
    "global-require": "off",
    "no-confusing-arrow": ["off"],
    "react/forbid-prop-types": [
      "off", { "forbid": [] }],
    "no-underscore-dangle": ["error", { "allow": ["_this", "_showMarker", "_showPolyLine"] }]
  }
}
